[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
jupyter = "*"
notebook = "*"
black = "*"
pandas = "*"
opendatasets = "*"
beautifulsoup4 = "*"
lxml = "*"
python-dotenv = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
pyreadstat = "*"
python-docx = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.11"
